@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background-color: aqua;
}

[data-button] {
  width: 256px;
  border-radius: 12px;
  height: 40px;

  color: white;
  background-color: #181b21;

  /* text */

  font-size: 14px;
  font-family: "Roboto";
}

[data-light] {
  background-color: #e3e3e3;
  color: #000;
}
